@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:wght@200;300;400;500;600;700&family=Varela+Round&display=swap') * {
    margin: 0;
    padding: 0
}

*,
:after,
:before {
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

a,
a:hover {
    transition: .3s;
    text-decoration: none
}

button,
input,
input:hover {
    outline: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

p {
    margin: 0;
    padding: 0
}

img {
    vertical-align: middle;
    border: none
}

ol,
ul {
    list-style: none
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0;
    padding: 0
}



body {
    font-family: var(--web-font-style1);
    color: var(--web-color1)
}

:root {
    --web-color1: rgba(26, 26, 26, .9);
    --web-color2: rgba(26, 26, 26, .7);
    --web-color3: #c55e5e;
    --web-color4: #262626;
    --gray-color: gray;
    --rgba-dark: rgba(0, 0, 0, .5);
    --web-font-style1: Arial;
    --web-font-style2: 'Poppins', sans-serif;
    --web-font-style3: 'Varela Round', sans-serif;
    --web-font-style4: 'EB Garamond', serif;
}


.bg_bannerhome1 {
    background: url('../img/bannerimgs/homepage_Bimg.jpg');
}

.bg_aboutimg1 {
    background: url('../img/bannerimgs/aboutpage_Bimg.jpg');
}

.bg_bannercontact1 {
    background: url('../img/bannerimgs/contactpage_Bimg.jpg');
}

.bg_bannerfinance {
    background: url('../img/bannerimgs/financepage_Bimg.jpg');
}

.bg_banneronlineprogram {
    background: url('../img/bannerimgs/onlineprogrampage_Bimg.jpeg');
}

.bg_bannerprivatelesson {
    background: url('../img/bannerimgs/privatelessonpage_Bimg.jpg');
}

.bg_bannervirtualcons {
    background: url('../img/bannerimgs/virtualconspage_Bimg.jpg');
}

.bg_bannerboardtrain {
    background: url('../img/bannerimgs/boardtrainpage_Bimg.jpg');
}

.bg_bannercareer {
    background: url('../img/bannerimgs/careerpage_Bimg.jpeg');
}

.w80 {
    width: 80%;

}

.w70 {
    width: 70%;
}

.w60 {
    width: 60%;
}

.w50 {
    width: 50% !important;
}

.swal-button {
    background: var(--web-color2) !important;
    transition: .3s
}

.swal-button:hover {
    background: var(--web-color4) !important
}

.position-inherit {
    position: inherit !important;
    background: #212121;
}

.custbg-color1 {
    background: var(--web-color1)
}

.custbg-hover_color1:hover {
    background: var(--web-color1)
}

.custcolor1 {
    color: var(--web-color1)
}


.web-link1 {
    color: var(--web-color3);
}

.web-link1:hover {
    color: var(--web-color3);
}

.web-btn1 {
    padding: 12px 18px;
    background: var(--web-color4);
    color: white;
    font-size: 13px;
    font-weight: 600;
}

.web-btn1:hover {
    background: var(--web-color4);
    color: white;

}

.web-btn2 {
    padding: 12px 25px;
    background: white;
    color: var(--web-color1);
    display: inline-block;
    font-size: 14px;
    border-radius: 50px;
    font-weight: 600 !important;
}

.web-btn2:hover {
    background: white;
    color: var(--web-color1);

}

.submit-btn {
    background-color: var(--web-color1);
    padding: 10px 30px;
    color: white;
    letter-spacing: 1px;

}

.submit-btn:hover {}

.bg_overlay {
    background: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;

}


.comm_padd {
    padding: 50px 0;
}

.comm_padd100 {
    padding: 50px 0;
}

.content-box {
    margin-top: 50px;
}

.title-box {
    text-align: center;
    margin-bottom: 30px;

}


.title-box h3 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px;
}

.title-box h5 {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 20px;
}

.title-box p {
    text-align: center;
    margin: 0 auto;
    width: 70% !important;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px !important;
}


.btn-box {
    margin: 20px 0;
}
